*__pycache__*
dataset/cifar100-classes
dataset/cifar10-classes
dataset/imagenet1k-classes
dataset/imagenet1k_224_classes
dataset/synthetic_data
dataset/imagenet_resize
dataset/cifar-10-batches-py
dataset/cifar-10-python.tar.gz
dataset/dataset/
datalist/
figures/
wandb
test.py
output_fedweit
pretrain_model/task_single_model
pretrain_model/task_sofar_model
.env
out
pca_eval
Proto
draw